.category-root {
  margin-bottom: 48px;
}

.category-title {
  color: #171725;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  margin: 0 24px 24px;
}

.category-list {
  width: 100%;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
}

.category-list::-webkit-scrollbar {
  display: none;
}
