.footer-root {
  height: 96px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 2px solid #E2E2EA;
  background-color: #fff;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin: 24px 0 20px;
}

.dash {
  width: 134px;
  height: 5px;
  background-color: #d5d5dc;
  border-radius: 100px;
  margin: 0 auto;
}

.notification-wrapper {
  position: relative;
}

.red-circle {
  position: absolute;
  top: 5px;
  right: 5px;
}
