.card-item-root {
  width: 200px;
  height: 268px;
  background-color: #fff;
  border: 1px solid #f1f1f5;
  border-radius: 4px;
  box-shadow: 0 12px 18px rgba(23, 23, 37, 0.04);
  margin-left: 24px;
}

.card-item-image {
  width: 199px;
  height: 98px;
}

.card-item-content-wrapper {
  padding: 16px;
}

.card-item-amount {
  color: #0062ff;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  margin-bottom: 8px;
}

.card-item-description {
  color: #92929d;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.005em;
}

.invalid {
  color: #696974;
}

.insufficient-coins {
  color: #0062ff;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  letter-spacing: -0.5px;
  margin-top: 8px;
}
