.container {
  position: relative;
  min-height: 100%;
}

.content {
  padding-bottom: 96px;
}

.icon-button {
  border: none;
  background: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.icon-button:hover {
  transform: scale(1.1);
}

.icon-button:focus {
  border-radius: 50%;
  background-color: rgba(243, 243, 255, 0.6);
}

.icon-button::-moz-focus-inner {
  border: 0;
}
