.coupons-root {
  height: 416px;
  background: url("../../../assets/images/backgroundImage.png") no-repeat center;
  background-size: 110% 485px;
  background-color: #fff;
  margin: 40px 16px 0;
  padding: 24px 24px;
  border: 1px solid #fafafb;
  border-radius: 8px;
  box-shadow: 0 12px 18px rgba(23, 23, 37, 0.04);
}

.available-coin {
  color: #b5b5be;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  margin-bottom: 8px;
}

.coin-balance-amount {
  color: #171725;
  font-size: 48px;
  font-weight: 400;
  font-style: normal;
  line-height: 56px;
  letter-spacing: -0.5px;
  margin-bottom: 33px;
}

.tier-description {
  color: #92929d;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.005em;
  margin-bottom: 16px;
}

.tier-link {
  color: #0062ff;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.005em;
  text-decoration: none;
}

.my-coupon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}

.my-coupon-btn {
  color: #fff;
  background-color: #171725;
  width: 100%;
  height: 60px;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  border-radius: 4px;
  margin-bottom: 16px;
}

.updated-date {
  color: #b5b5be;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  letter-spacing: -0.5px;
}
