.banner-root {
  height: 428px;
  background-color: #171725;
  margin-bottom: 274px;
}

.banner-content-wrapper {
  padding: 60px 24px 0;
}

.banner-title {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  line-height: 40px;
  margin: 16px auto 8px;
}

.banner-description {
  color: #b5b5be;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.005em;
}
